.recipe-card-link,
.recipe-card-link:hover {
    color: inherit;
    text-decoration: none;
}

.recipe-card {
    flex: 1 0 40%;
    transition: all 0.3s;
}

.recipe-card .card-img-top {
    max-height: 400px;
}

.recipe-card:hover {
    box-shadow: 0 0 20px 3px black;
}

.btn-new-recipe {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.card-home {
    height: 100%;
}

.profile-header-img img {
    width: 35%;
    margin: 2rem auto;
    display: block;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 10px;
    justify-content: space-evenly;
}

.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}